{% extends "layout/index.html" %}

{% block title %}Dashboard{% endblock %}
{% block background_color %}background-light-blue{% endblock %}

{% block content %}
    <article class="dashboard-container">
        <section class="top-block">
            <h2 class="welcome-message">Welcome <span class="username"></span></h2>
            
            <div class="general-balance margin-bottom-20">
                <p class="opaque-font medium-font">Balance sheet for the month</p>
                <span class="big-font font-weight-bold" id="balance"></span>
            </div>
                     
            <div class="other-calculations-container">
                <div class="remaining-amount">
                    <p class="opaque-font medium-font" id="total-budget"></p>
                    <span class="big-font font-weight-bold" id="budget"></span>
                </div>

                <div class="largest-expense">
                    <p class="medium-font opaque-font">Your biggest expense this month</p>
                    <span class="big-font font-weight-bold" id="biggetsExpense"></span>
                </div>
            </div>   
        </section>

        <section class="bottom-block">
            <h2 class="margin-0 expenses-title">Expenses per month by category</h2>
            <canvas class="canvas" id="myChart">
                
            </canvas>
            <div>            
                <div class="category-card-container"id="category-card-container">

                </div>
            </div>
        </section>

        <aside class="aside">
            
            <h2>Operations</h2>
            
            <div class="add-expense" id="btnModal">Add a new expense</div>
            <p><a  class="define-bubget" href="/profile#budget-form">Define budget  -></a></p>
    
            <h2 class="margin-top-50px">Most recent expenses</h2>
            <div id="recent-expenses-container">
                
            </div>    
        </aside>

    </article>
    {{ include('includes/modalForm.html') }}
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="public/js/chart.js"></script>
    <script src="public/js/dashboard.js"></script>
    

{% endblock %}