
<div class="modal-background" id="modal-background">
    <div id="modalMessages"></div>
    <div class="modal-container">
        <span class="close">×</span>
        <form action="#" method="post" id="expenseForm">

            <input class="input" type="text" name="name"  placeholder="Name">
            <input class="input" type="number" name="amount" placeholder="Amount">
            <input class="input" type="date" name="date">
            <select class="input opaque-font" name="categoryId" id="categoryId">
                
            </select>

            <button type="submit" class="button background-blue font-white margin-top-20px">Save</button>
        </form>
    </div>
</div>
<script src="public/js/modalForm.js"></script>