<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-element"><a class="link font-white" href="{{URL}}/dashboard">Home</a></li>
        {% if currentPage == 'dashboard' or currentPage == 'expense' or currentPage == 'admin-panel' or currentPage == 'profile'%} 
            <li class="navbar-element"><a class="link font-white" href="#">Expenses</a></li>
            <li class="navbar-element profile-button position-relative">
                <img class="profile-picture" src="public/profile-pictures (symlink)/photo.jpg" alt="profile picture">
                <span class="username"></span>
                <div class="expand-icon-container">
                    <img  class="expand-icon" id="dropMenu-btn" src="public/assets/icons/expand_more.svg" alt="expand more icon">
                </div> 
                <div style="display: none;" class="dropdown-menu" id="dropdown-menu">
                    <a class="link font-black dropdown-item" href="{{URL}}/profile">Profile</a>
                    <a class="link font-black dropdown-item" href="{{URL}}/logout">Log Out</a>
                </div>
            </li>
        {% endif %}
    </ul>  
</nav>