<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-element"><a class="link" href="http://your-expenses.com/{{currentPage}}">Home</a></li>
        {% if currentPage == 'dashboard'%} 
            <li class="navbar-element"><a class="link" href="#">Expenses</a></li>
            <li class="navbar-element profile-button">
                {{user.name}}
                <div class="expand-icon-container">
                    <img  class="expand-icon" src="public/assets/icons/expand_more.svg" alt="expand more icon">
                </div> 
            </li>
        {% endif %}
    </ul>  
</nav>